.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  .is-invalid {
    border-color: #dc3545;
  }
  
  .invalid-feedback {
    color: #dc3545;
  }

  // :host {
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: auto;
  //   z-index: 1000; /* Higher z-index to overlay other content */
  //   background-color: #fff; /* Optional: Set a background color */
  // }
  
  