<ol>
  <li *ngFor="let question of (questions$ | async)">
    <app-question [question]="question" (answerId)="selectAnswer(question, $event)"></app-question>
    <!-- <div>
      <p>{{ question.text }}</p>
      <ul>
        @for (answer of question.answers; track answer; let index = $index) {
            <button (click)="selectAnswer(question, answer)">
              {{ answer.text }}
            </button>
        }
      </ul>
    </div> -->
  </li>
</ol>

<button type="button" class="btn btn-primary submit-button" (click)="submitForm()">
  Submit
</button>
<br/>
  