<h2 class="question-list-heading text-center mb-4">Quiz Questions</h2>
<div class="grid-container">
  <li *ngFor="let question of questions()" class="grid-item">
    <app-question [question]="question" (answerId)="selectAnswer(question, $event)"></app-question>
    <!-- <div>
      <p>{{ question.text }}</p>
      <ul>
        @for (answer of question.answers; track answer; let index = $index) {
            <button (click)="selectAnswer(question, answer)">
              {{ answer.text }}
            </button>
        }
      </ul>
    </div> -->
  </li>
  <div class="grid-buttons">
    <button type="button" class="btn btn-primary submit-button grid-button-submit" (click)="submitForm()">
    Submit
    </button>
    <button type="button" class="btn btn-primary submit-button grid-button-quit" (click)="quitTest()">
      Quit test
    </button>
  </div>
</div>
  