<app-navbar/>
<!-- <app-quiz-grid/> -->
 <div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
  <p class="bg-light fs-4">Some test text</p>
  <h4>Rules:</h4>
  <ol>
    <li>Rule 1</li>
    <li>Rule 2</li>
    <li>Rule 3</li>
    <li>Rule 4</li>
  </ol>
  <h1 style="font-family: cursive; text-align:center;">Welcome!</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question-list" (click)="startQuiz()">Start the quiz</button>
 </div>
<app-footer/>
